@font-face {
  font-family: "iconfont"; /* Project id 4372660 */
  src: url('iconfont.woff2?t=1702521734672') format('woff2'),
       url('iconfont.woff?t=1702521734672') format('woff'),
       url('iconfont.ttf?t=1702521734672') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cash:before {
  content: "\e635";
}

.icon-qita:before {
  content: "\e629";
}

.icon-wxpay:before {
  content: "\e611";
}

.icon-alipay:before {
  content: "\e618";
}

.icon-ai-pay-copy:before {
  content: "\e604";
}

.icon-gouwudai:before {
  content: "\e801";
}

.icon-dingdanguanli-:before {
  content: "\e632";
}

.icon-shujubaobiao:before {
  content: "\e647";
}

.icon-icon-:before {
  content: "\e607";
}

.icon-shangpinguanli:before {
  content: "\e603";
}

.icon-yuangongguanli:before {
  content: "\e660";
}

.icon-qushitu:before {
  content: "\e636";
}

.icon-yinxingqia:before {
  content: "\e646";
}

.icon-yinxingqia1:before {
  content: "\e68e";
}

.icon-shouzhiliushui:before {
  content: "\e621";
}

.icon-kaohejilu:before {
  content: "\e624";
}

